/* .App{

  display: flex;
  align-items: center;
  flex-direction: column;

} */
.horiz {
  width: 100%;
  flex-direction: column;
  margin-bottom: 1em;
}

.horizContent {
  width: 100%;
}

.container {
  font-family: "Gotham SSm";
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.horizContent label {
  display: flex;
  align-items: left;
  flex-direction: row;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.navbar {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  padding: 14px 10px;
  box-shadow: 0 3px 8px rgba(14, 59, 239, 0.05);
  background-color: #A7C7E7;
  margin-bottom: 2%;
  /* border-bottom: 1px dashed rgb(9, 83, 220); */
  /* border-top-right-radius: 20px; */
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}

.innerBar {
  display: flex;
  flex-direction: row;
  /* width: 85%; */
  color: #000;
  
}
.innerBar .reviewFest{
  margin-left: 9%;
  padding: 15px 30px;
  font-size: 25px;
  font-weight: bold;
  /* text-shadow: 2px 2px 20px rgb(0 0 0 / 50%); */
  /* border: 1px dashed rgb(9, 83, 220); */
  /* border: 1px dashed rgb(9, 83, 220); */
  border-top: 1px dashed rgb(9, 83, 220);
  border-bottom: 1px dashed rgb(9, 83, 220);
  /* border-left: 1px dashed rgb(9, 83, 220); */

}
/* .innerBar .reviewFest span{

  box-shadow: 0 3px 8px rgba(14, 59, 239, 0.05);

} */
@media (min-width: 768px) {
  .createRightSide {
    margin-right: 12%;
  }
}

@media (min-width: 992px){
  .createRightSide {
    margin-right: 17%;
  }

}

@media(min-width: 1200px){
  .createRightSide {
    margin-right: 18%;
  }

}
.createRightSide {

  margin-left: auto;
}
.createRightSide button{
  background-color: #4d4de1;
  color: #fff;
	border: 0;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #dcdce4;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: transform .5s ease,background-color .33s ease;
  text-transform: uppercase;
}

.createRightSide button:hover {
  transform: scale(1.07);
}