.createCommentsSection {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 1rem .8rem 1rem 0;
  font-family: "Gotham SSm", sans-serif;
  font-size: 15px;
  padding: 16px;
}

.commentHeading {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.createCommentsSection input,
.createCommentsSection textarea {
  width: 98%;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 12px;
  border: .1px solid #ccc;
  font-family: "Gotham SSm", sans-serif;
  font-size: 15px;
  color: #333;
  transition: border-color 0.3s;
  max-width: 100%;
  max-height: 600px;    
  resize: vertical;     
}

.createCommentsSection input:focus,
.createCommentsSection textarea:focus {
  border: 1px solid #007bff;
  outline: none;
}

.buttonAlign {
  display: flex;
  justify-content: flex-end;
}

.buttonAlign button {
  margin-top: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.buttonAlign button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .createCommentsSection {
    width: 95%;
    padding: .5rem .5rem; 
    border: none;
    margin: 0px;
  }

  .createCommentsSection input,
  .createCommentsSection textarea {
    width: 94%;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 12px;
  }
}